@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: #3271fa;
    --second-color: #fff;
    --title-color: #1b1b1c;
    --card-color: #ebedf0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--second-color);
}

.correct {
    background-color: #64FC22;
}

.wrong {
    background-color: #FC2225;
}

.normal {
    background-color: var(--second-color);
}

/* ENCABEZADO */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 12%;
    background-color: var(--primary-color);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

#logo {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--second-color);
    font-size: 1.3rem;
    font-weight: 700;
}

#logo h6 {
    padding-bottom: 10px;
    font-size: 1rem;
}

#btn-add {
    width: 4%;
    background-color: transparent;
    border: none;
}

#btn-add img {
    width: 100%;
    border-radius: 50%;
    transition: all 0.2s linear 0s;
    filter: hue-rotate(120deg);
}

#btn-add img:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

/* FIN DEL ENCABEZADO*/

/* INICIO ESTILOS CUERPO DE LA PAGINA */
#main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    overflow: hidden;
}

.card {
    width: 30%;
    background-color: var(--card-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.card-header {
    width: 100%;
    text-align: center;
    padding: 10px 20px 0px 20px;
    color: var(--title-color);
    font-size: 1.5rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#question {
    padding: 10px;
    text-align: justify;
    margin-bottom: 5px;
}

.btn {
    padding: 10px;
    width: 80%;
    height: 20%;
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 2px solid var(--second-color);
    display: block;
    margin-top: 5px;
    text-align: center;
    color: var(--second-color);
    cursor: pointer;
    transition: all 0.1s linear 0s;
}

.btn:hover {
    background-color: var(--second-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-answer {
    background-color: var(--second-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-answer:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--second-color);
    color: var(--second-color);
}

.text-left {
    text-align: left !important;
    padding-left: 20px;
}

@media (max-width: 720px){

    header {
        padding: 10px 10%;
    }

    #btn-add {
        width: 12%;
    }
    
    .card {
        width: 80%;
    }

    .card-header {
        font-size: 1.2rem;
    }

    .btn {
        width: 90%;
    }

}