.quiz--container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.quiz--wrapper {
    width: 35%;
    display: flex;
    margin-top: 20px;
}

.quiz--question {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}

.quiz--question--title {
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    text-align: justify;
    line-height: 25px;
    padding: 30px 35px 0px 35px;
}

.quiz--question ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.quiz--question ul li {
    width: 100%;
    padding: 0;
    list-style: none;
}

@media(max-width: 1370px) {
    .quiz--wrapper {
        width: 50%;
        display: flex;
    }
}

@media(max-width: 800px) {
    .quiz--wrapper {
        width: 90%;
    }
    .quiz--question--title {
        font-size: 20px;
    }
}

@media(max-width: 320px) {
    .quiz--wrapper {
        width: 95%;
    }
    .quiz--question--title {
        font-size: 22px;
    }
}