.hero-author {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: #222;
}

.hero-author p {
    color: #CCD1D1;
    font-size: 17px;
    font-weight: 300;
}

.hero-author p a {
    text-decoration: none;
    color: #CCD1D1;
    transition: all 0.3s ease-in-out;
}

.hero-author p a:hover {
    color: #E74C3C;
}

/*  HERO SECTION IN HEADER */
.hero-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    background-color: #E74C3C;
}

.hero-logo{
    color: #fff;
    padding: 30px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
}

.hero-location {
    padding-left: 8px;
    font-size: 28px;
    font-weight: 300;
}

/* ADD SECTION */
.add-section {
    padding-right: 10%;
}
.add-section img {
    width: 60px;
    cursor: pointer;
}